.back-ground-image {
    background-image: url(../images/voyagesbackground.jpg);
    height: calc(100vh - 200px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 20px;
    margin-top: 10px;
}

.B-lettre-logo {
    color: #004aad;
    font-size: 35px;
    font-weight: bold;
    font-family:Georgia, Times, 'Times New Roman', serif
}

.J-lettre-logo {
    color: #ff3131;
    font-size: 35px;
    font-weight: bold;
    font-family:Georgia, Times, 'Times New Roman', serif
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
    overflow: hidden; /* Prevent text from expanding beyond the image */
}


.about-content img {
    width: 45%;
    border-radius: 8px;
    animation: fadeInRight 4s ease-in-out;
}

.about-content p {
    width: 43%;
    font-size: 22px;
    line-height: 35px;
    animation: slideInLeft 4s ease-in-out; /* Add animation for text */
}

.apropos-titre{
    font-size: 5vmin;
    text-align: center;
    margin-top: 50px;  
    color: #0053a4;
    font-family: 'Satisfy', sans-serif;
    letter-spacing: 10px;
    font-weight: bold;    
}

.about-content:nth-child(even) {
    flex-direction: row-reverse;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(300px); /* Adjust the initial position based on your needs */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Media query for small and medium screens */
@media only screen and (max-width: 1024px) {
    .about-content {
        flex-direction: column; /* Change flex direction to column */
        align-items: center; /* Center content */
        text-align: justify; /* Align text to the left */
    }

    .about-content img {
        width: 95%; /* Adjusted image width */
        max-width: 95%; /* Limit image width */
        margin-bottom: 10px; /* Add margin below image */
        animation: fadeInRight 4s ease-in-out; /* Add animation for image on small screens */
    }

    .about-content p {
        width: 90%; /* Adjusted text width */
        animation: slideInLeft 4s ease-in-out; /* Add animation for text on small screens */
    }

    .apropos-titre{
        font-size: 5vmin;
        margin-top: 10px;  
        margin-bottom: 0px;
        letter-spacing: 8px;     
    }
}


