:root {
    /*Index page*/

    --quote:#ffe291; /*Page d'Accueil header*/
    --header-content:#e4b4ae; /*Page d'Accueil header*/
    --index-destinations:#213160; /*Page d'Accueil Nos destinations*/
    --grey-overlay:#4d4848; /*Page d'Accueil Hotels recommandés*/
    --index-hotels-ville: #fdfbfb; /*Page d'Accueil Hotels recommandés h3*/


    /*A propos de nous page*/

    --B-lettre-logo:#004aad;  /*couleur lettre B dans le text*/
    --J-lettre-logo: #ff3131; /*couleur lettre J dans le text*/
    --apropos-titre:#0053a4;  /*couleur de titre*/


    /*Nos services Page*/
    --nosservices-h1:#213160; 
    --nosservices-navlinks:#ffffff;

     /*contact Page*/

    --contact-navlinks:#ffffff;
    
}
body {
    font-family: Arial, sans-serif;
}
/* navbar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}



.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    text-transform: uppercase;
    font-size: 2.3vmin;
    font-weight: bolder;
}

.logo {
    width: 110px;
    height: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    
}

.nav-links li {
    margin: 0 30px;
}

.nav-links li a{
  color: rgb(71, 44, 2);
}

.nav-links li a:hover{
  color: rgb(175, 0, 58);
  text-decoration: none;
font-size: 2.5vmin;
transition: ease-in-out 0.3s;
}


/* footer */
footer {
    background-color: rgb(238, 248, 255);
    padding: 20px;
    text-align: center;
}

footer div {
    margin-bottom: 10px;
}

.phone-icon {
    font-size: 20px;
}

.phone-numero {
    margin-left: 5px;
}

a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
}

a:hover {
    text-decoration: underline;
}

.addresse {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 768px) {
    footer div {
        flex-direction: column;
        align-items: center;
        font-size: 2.5vmin;
    }
    footer p {
        flex-direction: column;
        align-items: center;
        font-size: 2.5vmin;
    }
}

@media only screen and (max-width:850px){

    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
        font-size: 3vmin;
    }
    .logo {
        position: absolute;
        top: 0px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
       margin-top: -920px;
       transition:  all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
        height: 30vh;
    }
    .nav-links li {
            margin: 30px auto;
    }

    .mobile-menu {
        margin-top: 0px;
        height: 40vh;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .nav-links li {
        margin: 30px auto;
}

}