/* header image avion */

header {
    width: 100vw;
    height: 100vh;
    background-image: url(images/avion.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 100px;
}

.header-content {
    margin-bottom: 55px;
    color: var( --header-content);
    text-align: center;
    font-size: 3vmin;
    font-weight: bold;
}

.header-content  p{ 
  color: var( --header-content); 
}

.header-content h1
 {
    opacity: 0;
    transform: translateY(-400px);
    animation: dropAnimation 5s ease forwards;
    font-size: 7vmin;
    margin: 20px auto;
}

@keyframes dropAnimation {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-content p
 {
    opacity: 0;
    transform: translateX(-100px);
    animation: slidein 5s ease forwards;
    font-size: 4.5vmin;
}

@keyframes slidein {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media only screen and (max-width:850px){

.header-content {
    margin-bottom: 45px;
    font-size: 3.5vmin;
}

}

/* destinations */

.index-destinations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  text-align: center;
}

.index-destinations h2 {
    font: bold 40px/85px 'Satisfy', sans-serif;
    color:var(--index-destinations);
    text-align: center;
    padding: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 30px;
  }
  
  .index-destinations h3 {
    color:var(--index-destinations);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vmin;
  }
  
  .index-destinations-box {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  
  .index-destinations-box img {
    width: 80%; 
  }

  .index-destinations-box img:hover {
    width: 83%; 
    transition: 0.3s ease-in-out;
  }
  
  

/* HÔTELS RECOMMANDÉS section */

.index-hotels  {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
}

.index-hotels h2 {
  font: bold 40px/85px 'Satisfy', sans-serif;
  color:var(--index-destinations);
  text-align: center;
  padding: 40px 0;
  flex-basis: 100%;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 25px;
}


 .index-hotels-ville  {
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
   
}

.index-hotels-ville:nth-child(2)  {
    background-image:url(../images/Hotel\ Touraine\ Opera.jpg);
}
.index-hotels-ville:nth-child(3)  {
    background-image:url(../images/Cove\ Landmark\ Pinnacle.jpg)
}
.index-hotels-ville:nth-child(4)  {
    background-image:url(../images/Elegantia\ Luxury\ Rooms.jpg)
}
.index-hotels-ville:nth-child(5)  {
    background-image:url(../images/Hotel\ Edison\ Times\ Square.jpg)
}
.index-hotels-ville:nth-child(6)  {
    background-image:url(../images/Baansuanprannok\ Hotel.jpg)
}
.index-hotels-ville:nth-child(7)  {
    background-image:url(../images/Four-Seasons-Hotel-Sydney.jpg)
}

.grey-overlay {
  position: absolute;
  inset: 0;
  background-color:var( --grey-overlay);
  opacity: 0.6;
  transition: all ease-in-out 0.2s;
}

.index-hotels-ville:hover .grey-overlay{
  opacity: 0;   
}

.index-hotels-ville h3 {
font-size: 4vmin;
  color:var( --index-hotels-ville);
  text-align: center;
  z-index: 100;
  transition: all ease-in-out 0.6s;
}


.index-hotels-ville:hover h3 {
  opacity: 0;
}


/* Avis clients  */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px;
}

.feedback {
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #0000001a;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}


  .container h2  {
    font: bold 40px/85px 'Satisfy', sans-serif;
    color:var(--index-destinations);
    text-align: center;
    padding: 40px 0;
    flex-basis: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 25px;
  }

.feedback img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;

}

.feedback h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.feedback p {
    font-size: 14px;
    line-height: 1.5;
}



/* Responsive Styling */

  @media only screen and (max-width: 1024px),
         (max-width: 912px),
         (max-width: 820px),
         (max-width: 768px),
         (max-width: 480px) {
    .index-destinations-box {
        flex-basis: calc(50% - 10px);
        margin-bottom: 10px;
    }
    
    .index-destinations-box img {
        width: 94%; 
    }
    .index-destinations-box img:hover {
      width: 98%; 
  }
    .index-destinations h2 {
      font-size: 4vmin;
      letter-spacing: 3px;
      line-height: 40px;
      padding-bottom: 20px;
    }

    .index-hotels h2 {
        font-size: 4vmin;
        margin: 25px auto;
        padding: 0px;
    }
    .container h2  {
        font-size: 4vmin;
        margin: 25px auto;
        padding: 0px;
    }

    .index-hotels-ville h3 {
        font-size: 4vmin;
        margin: 0px;
        padding: 0px;
    }

  }
  
  @media only screen and (max-width: 480px) {
    .index-destinations-box {
        flex-basis: calc(100% - 10px);
    }
    .index-destinations-box img {
      width: 100%;
  }

  .index-hotels {
    width: 95%;
    margin: 0 auto;
  }
  .index-hotels-ville h3 {
    font-size: 6vmin;
}
  }
  